{% extends "index.html" %}

{% block title %}Catálogo de Produtos{% endblock %}

{% block content %}
<h1 class="mb-4 text-primary">Produtos de Beleza</h1>
<p class="lead">Aqui estão os nossos produtos para cuidados com os cabelos:</p>

<div class="row">
    {{ produtos_html|safe }}
</div>

<div class="mt-4">
    {% if current_user.is_authenticated and current_user.is_admin %}
    <a href="{{ url_for('admin_produtos') }}" class="btn btn-warning me-2">Admin Produtos</a>
    {% endif %}
    <a href="{{ url_for('homepage') }}" class="btn btn-outline-secondary">Voltar à página inicial</a>
</div>
{% endblock %}
